* {
  margin: 0;
  padding: 0;
}

.main-logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-image: url("https://i.pinimg.com/736x/07/fb/34/07fb3452c4640d881a16d08c2e314f3e.jpg");
  background-size: cover;
}

header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #395886;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: poppins;
  font-weight: 600;
  font-size: 15px;
}

.navbar a {
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
}

.navbar a:hover {
  color: #90a2e4;
  text-decoration: none;
}

.hero {
  height: 40vh;
  background-color: #f0f3fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-family: poppins;
  font-weight: 600;
  color: #395886;
}

.profile {
  height: 60vh;
  padding-top: 30px;
  background-color: #d5deef;
  display: flex;
  justify-content: center;
}

.profile h1 {
  color: #628ecb;
  font-family: poppins;
  font-weight: 600;
}

.portofolio {
  height: 60vh;
  background-color: #b1c9ef;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.portofolio h1 {
  color: #395886;
  font-family: poppins;
  font-weight: 600;
}

.message {
  height: 60vh;
  background-color: #8aaee0;
  padding: 30px 30px 0 30px;
}

.message h1 {
  color: #ffffff;
  font-family: poppins;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* Form */
.container {
  display: flex;
  justify-content: center;
  gap: 75px;
  font-family: poppins;
}
.label {
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #ffffff62;
  border: solid 2px #1b191946;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  display: inline-block;
  width: 120px;
}
input[type="text"],
input[type="date"],
textarea {
  padding: 5px;
  width: 250px;
  font-family: poppins;
}
textarea {
  resize: none;
  height: 80px;
}
.sub-button {
  width: 150px;
  padding: 8px;
  border-radius: 10px;
  background-color: #395886;
  border: solid 2px #00000046;
  cursor: pointer;
  color: white;
  font-family: poppins;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}
.output {
  background-color: #ffffff62;
  border: solid 2px #00000046;
  border-radius: 20px;
  padding: 15px;
  width: 350px;
  font-family: poppins;
  color: #000;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

/* footer */
.footer {
  background-color: #628ecb;
  font-family: poppins;
  color: white;
  text-align: right;
  padding: 10px;
  position: relative;
  bottom: 0;
}
